.containter{
    position:relative;
/*    background-color: aliceblue;*/
}

#time {
    position:absolute;
    float: right;
    color:white;
    right: 2rem;
    font-size: 15rem;
    font-weight: bold;
    
        
}

#weather {
    position: relative;
}

.fa-cloud{
    display: inline;
    float: left;
    color:white;
    margin-top: 1rem;
    font-size: 12rem;
    
}

#temp_f {
    float: left;
    font-size: 10rem;
    font-weight: bold;
    margin-left: 4rem;
}

#forecast_high_low {
    display: block;
    float:left;
    font-size: 7rem;
    font-weight: bold;
    
}
