body {
    background-color: black;
    padding: 0;
}

.dfw-container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 60px;
}

#time {
    position:absolute;
    float: right;
    color:white;
    right: 2rem;
    font-size: 15rem;
    font-weight: bold;    
}

#weather {
    position: relative;
}

.fa-cloud{
    display: inline;
    float: left;
    color:white;
    margin-top: 1rem;
    font-size: 12rem;
    
}

#weather_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 2rem;

}

#temp_f {
    float: left;
    font-size: 10rem;
    font-weight: bold;
    margin-left: 15rem;
}

#forecast_high {
    display: block;
    float:left;
    clear: left;
    font-size: 7rem;
    font-weight: bold;
    
}

#forecast_low {
    display: block;
    float:left;

    font-size: 7rem;
    font-weight: bold;
    margin-left: 2rem;
    
}

.reddit-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.reddit {
    font-size: 5rem;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
}

.reddit.dfw-hide {
    opacity: 0;
}

.reddit_static {
    font-size: 2rem;
    margin-top: 12px;
}

.dfw-body {
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
}

.dfw-body.dfw-hide {
    opacity: 1;
}